{% load staticfiles i18n %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <div style="width: 670px; min-height: 724px; ">
          <header style="width: 670px; height: 32px; text-align: center;">
          {% block content %}
            <img src="https://rookly-media.s3-sa-east-1.amazonaws.com/email/rookly-primary.png" alt="rookly-Logo" style="margin-left: 24px; margin-top: 10px; width: 130px"/>
          {% endblock %}
          </header>
            {% block main-content %}{% endblock %}

          <footer style="width: 670px;height: 90px; border-bottom: 7px solid #00d1b2; margin: auto; text-align: center;">
            <div  style="margin-top: 20px;">
              <a href="https://www.facebook.com/Rooklybr" style="text-decoration: none;">
                <img src="https://rookly-media.s3-sa-east-1.amazonaws.com/email/facebook.png" alt="Facebook-Logo" style="width: 25px;"/>
              </a>
              <a href="https://www.instagram.com/Rooklybr" style="text-decoration: none;">
                <img src="https://rookly-media.s3-sa-east-1.amazonaws.com/email/instagram.png" alt="Instagram-Logo" style="width: 25px;"/>
              </a>
              <a href="https://www.linkedin.com/company/rookly/" style="text-decoration: none;">
                <img src="https://rookly-media.s3-sa-east-1.amazonaws.com/email/linkedin.png" alt="Linkedin-Logo" style="width: 25px;"/>
              </a>
            </div>
          <div style="font-family: 'Lato', sans-serif; font-style: normal;font-weight: normal;font-size: 13px;line-height: 20px;color: #CCCCCC;text-align: center;margin-top:10px;">Rookly © 2020 - {% trans 'All rights reserved' %}</div>

        </footer>
            </div>
        </div>
</body>

</html>