{% extends 'authentication/emails/base.html' %}

{% load staticfiles i18n %}

{% block main-content %}
<section style="width: 574px; margin: 48px auto;">
<div style="font-family: 'Lato', sans-serif; text-align: center;  font-weight: bold; font-size: 25px; line-height: 28px; color: #00d1b2; margin-top: 24px;">
    {% trans 'Password Reset Request' %}
</div>

<div style="font-family: 'Lato', sans-serif;  width: 450px; text-align: center; margin: auto; font-style: normal; font-weight: normal; font-size: 16px; line-height: 24px; color: #808080; margin-top: 28px;">
  {% trans 'We received a request to reset your password. If it was really you, please click the button below and follow the instructions to create a new password!' %}
</div>

<div style="cursor:pointer; width: 200px; margin: auto; text-align: center; background: #00d1b2; box-shadow: 0px 3px 6px #00000029; color: #FFFFFF;font-size: 16px;
font-family: 'Lato', sans-serif; margin-top:20px;border-radius: 4px; padding: 8px 0;">
  <a href="{{ reset_url }}" style="color: #fff; text-decoration: none; font-family: 'Lato', sans-serif; font-weight: bold;">
    {% trans 'Redefine password' %}
  </a>
</div>


</section>
{% endblock %}